<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
   <type name="Magento\Framework\Console\CommandList">
       <arguments>
           <argument name="commands" xsi:type="array">
             <item name="bdc_simplenews_create" xsi:type="object">BDC\SimpleNews\Console\Command\NewsCreate</item>
           </argument>
       </arguments>
   </type>
  <preference type="BDC\SimpleNews\Model\News" for="BDC\SimpleNews\Api\Data\NewsInterface"/>
  <preference type="BDC\SimpleNews\Model\NewsRepository" for="BDC\SimpleNews\Api\NewsRepositoryInterface"/>
  <!-- <preference type="BDC\SimpleNews\Helper\BdcDebug" for="Magento\Framework\Logger\Handler\Debug"/> -->

  <!-- <type name="Magento\Framework\Logger\Monolog">
      <arguments>
          <argument name="handlers"  xsi:type="array">
              <item name="debug" xsi:type="object">BDC\SimpleNews\Helper\BdcDebug</item>
          </argument>
      </arguments>
  </type> -->

  <virtualType name="bdcLogger" type="Magento\Framework\Logger\Monolog">
      <arguments>
          <argument name="handlers"  xsi:type="array">
              <item name="debug" xsi:type="object">BDC\SimpleNews\Helper\BdcDebug</item>
          </argument>
      </arguments>
  </virtualType>

  <type name="BDC\SimpleNews\Helper\News">
       <arguments>  <argument name="logger" xsi:type="object">bdcLogger</argument> </arguments>
   </type>
   <type name="BDC\SimpleNews\Observer\Logger">
        <arguments>  <argument name="logger" xsi:type="object">bdcLogger</argument> </arguments>
    </type>

    <type name="BDC\SimpleNews\Console\Command\NewsCreate">
            <plugin name="bdcLoggerp" type="BDC\SimpleNews\Plugin\Logger"/>
        </type>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bdc_news_grid_data_source" xsi:type="string">BDC\SimpleNews\Model\Resource\News\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
</config>
