<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="bdc_simplenews_save_after">
        <observer name="bdcLogger" instance="BDC\SimpleNews\Observer\Logger" />
    </event>
</config>
